body,
button,
input,
select {
  color: var(--text-color);
  font-family: Sans-Serif, Arial;
}


body {
  background-color: var(--bg-color);
  margin: 0;
}


button,
input,
select {
  border-radius: 5px;
}


button {
  background-color: var(--btn-color);
  border: none;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: var(--btn-change-color);
}

button:active {
  background-color: hsl(200, 90%, 60%);
}


input,
select {
  background-color: transparent;
  border: 2px solid purple;
}


input {
  caret-color: purple;
}


h3 {
  color: purple;
}


img {
  vertical-align: middle;
}